<header class="e_Header" data-boundary="explore">
  <div class="e_Header__cutter">
    <div class="e_Header__inner">
      <a class="e_Header__link" href="/">
        <img
          class="e_Header__logo"
          src="https://blueprint.the-tractor.store/cdn/img/logo.svg"
          alt="Micro Frontends - Tractor Store"
      /></a>
      <div class="e_Header__navigation">
        <explore-navigation></explore-navigation>
      </div>
      <div class="e_Header__cart">
        <lib-mfe-loader [config]="config" [inputs]="'[]'"></lib-mfe-loader>
      </div>
    </div>
  </div>
</header>
